{
  "@context": [
    "https://www.w3.org/2018/credentials/v1",
    {
      "name": "https://schema.org/name",
      "address": "https://schema.org/Text",
      "phoneNumber": "https://schema.org/telephone"
    },
    "https://w3id.org/blockcerts/v3"
  ],
  "id": "{{ id }}",
  "type": [
    "VerifiableCredential",
    "BlockcertsCredential"
  ],
  "issuer": "{{ issuer_profile_url}}",
  "issuanceDate": "2022-01-01T19:33:24Z",
  "credentialSubject": {
    "name": "{{ name }}",
    "address": "{{ address }}",
    "phoneNumber": "{{ phoneNumber }}"
  }
}
